<%-include("./partials/header")-%>
<%-include("./partials/loader")-%>

  <body class="bg-primary bg-[url('/public/img/game/texture-stone-border.avif')]">
  <%-include("./partials/navbar")-%>



  <div id="game" class="flex justify-center  top-3 bg-[url('/public/img/game/texture-stone-border.avif')] bg-repeat">
  <%-include("./dialog")-%>

      
    <canvas id="map" class="" style="display: none;"></canvas>
  <%-include("./profile")-%>
  <%-include("./ranking")-%>



      <!-- <div class="terminal" style="display: none;">
        <div class="terminal-header">
          <div class="terminal-buttons">
            <div class="terminal-button red"></div>
            <div class="terminal-button yellow"></div>
            <div class="terminal-button green"></div>
          </div>
        </div>
        <div class="terminal-body">
          <div class="terminal-content">
            <div class="typing-text">
              <span id="typing"></span><span id="cursor"></span>
            </div>
          </div>
          <div class="terminal-prompt">
            <p>Escolha a sua alternativa:</p>
            <ul>
              <li>
                <input
                  type="radio"
                  id="option1"
                  name="options"
                  value="option1"
                />
                <label for="option1">-b+(2*a)</label>
              </li>
              <li>
                <input
                  type="radio"
                  id="option2"
                  name="options"
                  value="option2"
                />
                <label for="option2">3*65/x</label>
              </li>
              <li>
                <input
                  type="radio"
                  id="option3"
                  name="options"
                  value="option3"
                />
                <label for="option3">if(x>2)</label>
              </li>
            </ul>
          </div>
        </div>
      </div> -->


    </div>

    <script src="./public/js/data/audio.js"></script>
    <script src="./public/js/classes.js"></script>
    <script src="./public/js/data/alert.js"></script>
    <script src="./public/js/data/interact.js"></script>
    <script src="./public/js/data/collisions.js"></script>

    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="./public/js/terminal.js"></script>
    <script src="./public/js/index.js"></script>
    <script src="./public/js/manipulationCanvas.js"></script>


  </body>
</html>
