<%-include("./partials/header")-%>
<!-- <%-include("./partials/loader")-%> -->

  <body class="bg-primary bg-[url('/public/img/game/texture-stone-border.avif')]">
  <%-include("./partials/navbar")-%>



  <div id="game" class="flex justify-center  top-3 bg-[url('/public/img/game/texture-stone-border.avif')] bg-repeat">
  <%-include("./exam")-%>
  <%-include("./dialog")-%>

      
    <canvas id="map" class=""></canvas>
    <!-- <canvas id="house"></canvas> -->
  <%-include("./profile")-%>
  <%-include("./ranking")-%>



      


    </div>

    <script src="./public/js/data/audio.js"></script>
    <script src="./public/js/classes.js"></script>
    <script src="./public/js/data/alert.js"></script>
    <script src="./public/js/data/interact.js"></script>
    <script src="./public/js/data/collisions.js"></script>

    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="./public/js/terminal.js"></script>
    <script src="/public/js/exam.js"></script>

    <script src="./public/js/index.js"></script>

    <script src="./public/js/manipulationCanvas.js"></script>


  </body>
</html>
